<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="#{application.name}">...</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDemo" aria-controls="navbarDemo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDemo">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${module == 'home'?'active':''}">
                    <a class="nav-link" href="#" th:href="@{/home}" th:text="#{home.title}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'registration'?'active':''}">
                    <a class="nav-link" href="#" th:href="@{/tasks}" th:text="#{task.title}">Tasks</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-link nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                            <span th:text="#{lang.change}">...</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{${#httpServletRequest.requestURI}(lang=en)}"
                               th:text="#{lang.en}">...</a>
                            <a class="dropdown-item" th:href="@{${#httpServletRequest.requestURI}(lang=it)}"
                               th:text="#{lang.it}">...</a>
                            <a class="dropdown-item" th:href="@{${#httpServletRequest.requestURI}(lang=pt)}"
                               th:text="#{lang.pt}">...</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0" method="post" th:action="@{/logout}">
                <input class="btn btn-link nav-link p-0 text-left" type="submit"
                       sec:authorize="isAuthenticated()" th:value="#{navBar.logout}">
            </form>
        </div>
    </nav>
    <br>
</div>
</body>
</html>