<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="#{application.name}">...</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDemo" aria-controls="navbarDemo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDemo">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${module == 'home'?'active':''}">
                    <a class="nav-link" href="#" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'registration'?'active':''}">
                    <a class="nav-link" href="#" th:href="@{/tasks}">Tasks</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0" method="post" th:action="@{/logout}">
                <input class="btn btn-link nav-link p-0 text-left" type="submit" sec:authorize="isAuthenticated()" value="Logout">
            </form>
        </div>
    </nav>
    <br>
</div>
</body>
</html>