<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{home.title}">...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="py-5 text-center">
        <h2><span th:text="#{home.greeting}"> </span> [[${#httpServletRequest.remoteUser}]]</h2>
        <p class="lead" th:text="#{home.welcome}">...</p>
        <p>
            <a th:href="@{/tasks}" th:text="#{home.start}">...</a>
        </p>
    </div>
</div>
</body>
</html>