<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{login.title}">...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-center text-center">
        <form th:action="@{/login}" method="post" class="needs-validation">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.head}">...</h1>
            <p th:if="${param.logout}" class="invalid-feedback d-block" th:text="#{login.user.logout}">...</p>
            <p th:if="${param.error}" class="invalid-feedback d-block" th:text="#{login.error}">...</p>
            <div class="form-group">
                <input type="text" id="inputUsername" name="username" class="form-control" required autofocus
                       th:placeholder="#{login.username.placeholder}"
                       th:classappend="${param.error}? 'is-invalid'">
            </div>
            <div class="form-group">
                <input type="password" id="inputPassword" name="password" class="form-control" required
                       th:placeholder="#{login.password.placeholder}"
                       th:classappend="${param.error}? 'is-invalid'">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.submit}">...</button>
        </form>
    </div>
</div>
</body>
</html>