<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title><span th:text="#{application.name}"></span></title>
</head>
<body>
    <div layout:fragment="content">
        <div>
            <form class="needs-validation" novalidate method="post" th:object="${taskForm}" th:action="@{/tasks}">
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <input type="text" class="form-control" id="description" th:placeholder="#{task.description}" value="" required
                               th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            <span th:text="#{task.description.required}"></span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <button class="btn btn-primary" type="submit">
                            <span th:text="#{task.submit}">Add task</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-columns">
            <th:block th:each="task : ${tasks}" th:if="${tasks != null}">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <span th:text="${task.description}"></span>
                            <br>
                            <small class="text-muted" th:if="${task.lastUpdate != null}"
                                   th:text="${#temporals.format(task.lastUpdate,'dd MMM yyyy')}">
                            </small>
                        </p>
                        <th:block th:if="${task.id != null}">
                            <a th:href="@{/tasks/{id}(id = ${task.id})}" class="btn btn-outline-danger">
                                <span class="fas fa-trash"></span>
                            </a>
                            <a th:href="@{/tasks/{id}/status(id = ${task.id})}"
                               th:classappend="${task.checked} ? 'btn btn-primary active' : 'btn btn-light'">
                                <span class="fas fa-check"></span>
                            </a>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>

<script>
    // JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>