<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title><span th:text="#{application.name}"></span></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-md-9 text-left">
            <form class="needs-validation" novalidate method="post" th:object="${taskForm}" th:action="@{/tasks}">
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <input type="text" class="form-control" id="description" th:placeholder="#{form.task.description}" value="" required
                               th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            <span th:text="#{form.task.description.required}"></span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <button class="btn btn-primary" type="submit">
                            <span th:text="#{form.task.submit}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <hr class="mb-4">

        <div class="card-columns">
            <th:block th:each="task : ${tasks}">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" th:text="${task.description}"></p>
                        <p class="card-text">
                            <small class="text-muted"
                                   th:text="${#temporals.format(task.lastUpdate,'dd MMM yyyy')}">
                            </small>
                        </p>
                        <a th:href="@{/tasks/{id}(id = ${task.id})}"  class="btn btn-outline-danger">Remove</a>
                        <a th:href="@{/tasks/status/{id}(id = ${task.id})}" class="btn btn-primary">Done</a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>

<script>
    // JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>